<b><em>TODO: What does a call to first() (or last()) do when chained onto a call to resample that specifies an upsample? For e.g. pd.read_csv('world_population.csv').resample('A').first(), where the original data is decennial data, so resampling annually would be upsampling.</em></b>
<br>
<b><em>TODO: In README, specifically list all topics covered in notebook.</em></b>

In [637]:
import pandas as pd
import numpy as np

In [638]:
%%HTML
<style>
b em {
    color: blue;
}

em b {
    color: blue;
}
</style>

### Timestamp

In [639]:
pd.Timestamp('9/1/2016 10:05AM')

Timestamp('2016-09-01 10:05:00')

### Period

In [640]:
pd.Period('1/2016')

Period('2016-01', 'M')

In [641]:
pd.Period('3/5/2016')

Period('2016-03-05', 'D')

### DatetimeIndex

In [642]:
t1 = pd.Series(list('abc'), [pd.Timestamp('2016-09-01'), pd.Timestamp('2016-09-02'), pd.Timestamp('2016-09-03')])
t1

2016-09-01    a
2016-09-02    b
2016-09-03    c
dtype: object

In [643]:
type(t1.index)

pandas.core.indexes.datetimes.DatetimeIndex

### PeriodIndex

In [644]:
t2 = pd.Series(list('def'), [pd.Period('2016-09'), pd.Period('2016-10'), pd.Period('2016-11')])
t2

2016-09    d
2016-10    e
2016-11    f
Freq: M, dtype: object

In [645]:
type(t2.index)

pandas.core.indexes.period.PeriodIndex

In [646]:
tDaily = pd.Series(list('def'), [pd.Period('2016-09-01'),pd.Period('2016-09-02'),pd.Period('2016-09-03')])
tDaily

2016-09-01    d
2016-09-02    e
2016-09-03    f
Freq: D, dtype: object

In [647]:
type(tDaily.index)

pandas.core.indexes.period.PeriodIndex

In [648]:
t_ambiguous_frequency = pd.Series(list('def'), [pd.Period('2016-09-01'), pd.Period('2016-09-05'), pd.Period('2016-09-25')])
t_ambiguous_frequency

2016-09-01    d
2016-09-05    e
2016-09-25    f
Freq: D, dtype: object

<b><em>turns out the Freq attribute of the index in the above pandas series is daily ('D') even though the interval between the first and second element of the index is 4 days and that between the second and third element of the index is 20 days</em></b>

In [649]:
type(t_ambiguous_frequency.index)

pandas.core.indexes.period.PeriodIndex

**Question: What if some of the periods in the PeriodIndex of the series were days and others were months. What would the freq of the series be listed as? Would error be thrown when we try to construct the series?**

In [650]:
#t_someDays_othersMonths = pd.Series(list('def'),[pd.Period('2016-09'), pd.Period('2016-09-05'), pd.Period('2016-10-03')])
#t_someDays_othersMonths

**Answer: <em>It turns out that we do get an error if some Periods in the index are days and others are months (that's why the code in the above cell is commented out). Specifically, we get the error:</em> <b><em style = 'color:red;'>'IncompatibleFrequency: Input has different freq=D from PeriodIndex(freq=M)'</em></b>**

### Converting strings to DateTime objects

In [651]:
d1 = ['2 June 2013', 'Aug 29, 2014', '2015-06-26', '7/12/16']
ts3 = pd.DataFrame(np.random.randint(10, 100, (4,2)), index=d1, columns=list('ab'))
ts3

               a   b
2 June 2013   85  77
Aug 29, 2014  78  91
2015-06-26    55  79
7/12/16       34  39

In [652]:
ts3.index

Index(['2 June 2013', 'Aug 29, 2014', '2015-06-26', '7/12/16'], dtype='object')

*Pandas's to_datetime function intelligently converts strings to DateTime objects (I believe these include TimeStamps and Periods); by default, the to_datetime function assumes that the month is listed before the day is listed*

In [653]:
ts3.index = pd.to_datetime(ts3.index)
ts3

             a   b
2013-06-02  85  77
2014-08-29  78  91
2015-06-26  55  79
2016-07-12  34  39

In [654]:
ts3.index

DatetimeIndex(['2013-06-02', '2014-08-29', '2015-06-26', '2016-07-12'], dtype='datetime64[ns]', freq=None)

<b><em>Europeans like to put their days before their months, so July 4th, 2021 would be <span style = 'color:red;'>'4.7.2021'</span></em></b>

*Pandas's to_datetime function can handle strings in this format so long as the parameter <b><em>dayFirst</em></b> is set to True*

In [655]:
pd.to_datetime('4.7.2021', dayfirst=True)

Timestamp('2021-07-04 00:00:00')

### Timedeltas

*If you subtract two Timestamps, you get a Timedelta*

In [656]:
pd.Timestamp('9/3/2016')-pd.Timestamp('9/1/2016')

Timedelta('2 days 00:00:00')

*If you add a Timedelta to a Timestamp, you get a Timestamp corresponding to the appropriate time*

In [657]:
pd.Timestamp('9/2/2016 8:10AM') + pd.Timedelta('12D 3H')

Timestamp('2016-09-14 11:10:00')

### date_range function

*The pandas date_range function can construct a DateTimeIndex when supplied a starting Timestamp, a number of periods, and a frequency. The frequency can be supplied either with or without an offset*
<br>
* <b><em>frequency <u>with</u> an offset: freq = '2W-Sun'</em></b>
<br>
* <b><em>frequency <u>without</u> an offset: freq = '5H'</em></b>

*Below cell creates a DatetimeIndex beginning on the first Sunday after October 1st with 9 total elements each spaced 2 weeks apart*

In [658]:
dates = pd.date_range('10-01-2016', periods = 9, freq = '2W-Sun')
dates

DatetimeIndex(['2016-10-02', '2016-10-16', '2016-10-30', '2016-11-13',
               '2016-11-27', '2016-12-11', '2016-12-25', '2017-01-08',
               '2017-01-22'],
              dtype='datetime64[ns]', freq='2W-SUN')

*Let's make the above Datetimeindex the index of a DataFrame. We'll make the collumns two 9 element random walks around 100 and 120, respectively.*

In [659]:
v100 = 100 + np.random.randint(-5,5,9).cumsum()
v120 = 120 + np.random.randint(-5,5,9).cumsum()
df = pd.DataFrame({'Walk_Around_100':v100, 'Walk_Around_120':v120}, index = dates)
df

            Walk_Around_100  Walk_Around_120
2016-10-02              104              116
2016-10-16              102              111
2016-10-30               98              107
2016-11-13               99              107
2016-11-27               96              107
2016-12-11               93              111
2016-12-25               96              106
2017-01-08               97              104
2017-01-22               93               99

### weekday_name function

*When calling the weekday_name function on a Timestamp, you'll get the name of the weekday*

In [660]:
df.index.tolist()[0].weekday_name

'Sunday'

*Note that the datatype of each element in a datetimeIndex is pandas._libs.tslib.Timestamp. As far as I know, this datatype is not the same as the datetime in the datetime module (i.e. datetime.datetime)*

In [661]:
type(df.index.tolist()[0])
#df.index.tolist()[0]

pandas._libs.tslib.Timestamp

### Basic Time Series

*Time series data (in the context of data frames) is just a data frame with an index that's a DatetimeIndex*

<b><em>The .loc accessor smartly and flexibly accesses the data at a particular location in the datetimeIndex</em></b>

In [662]:
df.loc['2017-01-08']

Walk_Around_100     97
Walk_Around_120    104
Name: 2017-01-08 00:00:00, dtype: int32

In [663]:
df.loc['January 8, 2017']

Walk_Around_100     97
Walk_Around_120    104
Name: 2017-01-08 00:00:00, dtype: int32

In [664]:
df.loc['January 8th, 2017']

Walk_Around_100     97
Walk_Around_120    104
Name: 2017-01-08 00:00:00, dtype: int32

In [665]:
df.loc['2017 8th January']

Walk_Around_100     97
Walk_Around_120    104
Name: 2017-01-08 00:00:00, dtype: int32

In [666]:
df.loc['2017 January 8th']

Walk_Around_100     97
Walk_Around_120    104
Name: 2017-01-08 00:00:00, dtype: int32

<b><em>Notice how all of the index access methods in the five cells above return the same data element</em></b>

<b><em>Partial matching is possible too</em></b>

Just the month

In [667]:
df.loc['2017 January']

            Walk_Around_100  Walk_Around_120
2017-01-08               97              104
2017-01-22               93               99

Just the year

In [668]:
df.loc['2016']

            Walk_Around_100  Walk_Around_120
2016-10-02              104              116
2016-10-16              102              111
2016-10-30               98              107
2016-11-13               99              107
2016-11-27               96              107
2016-12-11               93              111
2016-12-25               96              106

### Downsampling

*Downsampling is fairly clean in that unlike upsampling, you don't have to fill in missing values*

Here we downsample monthly by taking the first value of the month as representative of that month's data.

<b><em>Notice that even though the data used in the monthly sample is the first data element of the month in the original dataset, the actual date in the index ends up being the last day of each month<b></em>
<br>
<br>
<br>
<b><em style = 'color: red;'>TODO: figure out how to change dates that show up in index when downsampling a time series monthly</em></b>

In [669]:
df.resample('M').first()

            Walk_Around_100  Walk_Around_120
2016-10-31              104              116
2016-11-30               99              107
2016-12-31               93              111
2017-01-31               97              104

### Upsampling

*Upsampling involves filling in the missing values that inevitably result. We'll illustrate weekly upsampling of data in the DataFrame, df, in two ways- first, using the <b><em>asfreq</b></em> function, and second using the <b><em>resample</em></b> function.*

We'll first reprint df, so we can see the original data that's upsampled.

In [670]:
df

            Walk_Around_100  Walk_Around_120
2016-10-02              104              116
2016-10-16              102              111
2016-10-30               98              107
2016-11-13               99              107
2016-11-27               96              107
2016-12-11               93              111
2016-12-25               96              106
2017-01-08               97              104
2017-01-22               93               99

<em>Using asfreq</em>

In [671]:
weekly_df_use_asfreq = df.asfreq('W', method = 'ffill')
weekly_df_use_asfreq

            Walk_Around_100  Walk_Around_120
2016-10-02              104              116
2016-10-09              104              116
2016-10-16              102              111
2016-10-23              102              111
2016-10-30               98              107
2016-11-06               98              107
2016-11-13               99              107
2016-11-20               99              107
2016-11-27               96              107
2016-12-04               96              107
2016-12-11               93              111
2016-12-18               93              111
2016-12-25               96              106
2017-01-01               96              106
2017-01-08               97              104
2017-01-15               97              104
2017-01-22               93               99

<em>Using resample</em>

In [672]:
weekly_df_use_resample = df.resample('W').ffill()
weekly_df_use_resample

            Walk_Around_100  Walk_Around_120
2016-10-02              104              116
2016-10-09              104              116
2016-10-16              102              111
2016-10-23              102              111
2016-10-30               98              107
2016-11-06               98              107
2016-11-13               99              107
2016-11-20               99              107
2016-11-27               96              107
2016-12-04               96              107
2016-12-11               93              111
2016-12-18               93              111
2016-12-25               96              106
2017-01-01               96              106
2017-01-08               97              104
2017-01-15               97              104
2017-01-22               93               99

In [673]:
weekly_df_use_asfreq.equals(weekly_df_use_resample)

True

*So use of both resample and asfreq yield identical results; to forward fill the missing data when using resample, ffill is chained onto the call sequence*

### Methods callable on datetime series

In [674]:
sales = pd.read_csv('sales-feb-2015.csv', index_col = 0, parse_dates = True)
sales.head()

                       Company   Product  Units
Date
2015-02-26 08:57:45  Streeplex   Service      4
2015-02-16 12:09:19      Hooli  Software     10
2015-02-03 14:14:18    Initech  Software     13
2015-02-02 08:33:01      Hooli  Software      3
2015-02-25 00:29:00    Initech   Service     10

*We'll first access the hour treating the Date (above) as a normal pandas series (as opposed to a datetimeIndex). This involves resetting the index. Accessing the datetime-like properties of a regular pandas series involves the idiom below (accessing the dt accessor and using it to access the property)*

In [675]:
sales.reset_index()['Date'].dt.hour.head()

0     8
1    12
2    14
3     8
4     0
Name: Date, dtype: int64

*Now we'll access the Date as a datetimeindex. <br><b><em> Notice that we can't call head to display the first five elements of the index since the index is actually stored as a numpy array as opposed to a pandas series</b></em>*

In [676]:
sales.index.hour[:5]

Int64Index([8, 12, 14, 8, 0], dtype='int64', name='Date')

In [677]:
sales.index.minute[:5]

Int64Index([57, 9, 14, 33, 29], dtype='int64', name='Date')

In [678]:
sales.index.dayofweek[:5]

Int64Index([3, 0, 1, 0, 2], dtype='int64', name='Date')

### Timezones

*Notice in the output below that the index of sales is not timezone aware. We'll then set the index to US Central Time*

In [679]:
sales.index

DatetimeIndex(['2015-02-26 08:57:45', '2015-02-16 12:09:19',
               '2015-02-03 14:14:18', '2015-02-02 08:33:01',
               '2015-02-25 00:29:00', '2015-02-05 01:53:06',
               '2015-02-09 08:57:30', '2015-02-11 20:03:08',
               '2015-02-04 21:52:45', '2015-02-09 13:09:55',
               '2015-02-07 22:58:10', '2015-02-11 22:50:44',
               '2015-02-26 08:58:51', '2015-02-05 22:05:03',
               '2015-02-04 15:36:29', '2015-02-19 16:02:58',
               '2015-02-19 10:59:33', '2015-02-02 20:54:49',
               '2015-02-21 05:01:26', '2015-02-21 20:41:47'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [680]:
sales.index = sales.index.tz_localize('US/Central')
sales.index

DatetimeIndex(['2015-02-26 08:57:45-06:00', '2015-02-16 12:09:19-06:00',
               '2015-02-03 14:14:18-06:00', '2015-02-02 08:33:01-06:00',
               '2015-02-25 00:29:00-06:00', '2015-02-05 01:53:06-06:00',
               '2015-02-09 08:57:30-06:00', '2015-02-11 20:03:08-06:00',
               '2015-02-04 21:52:45-06:00', '2015-02-09 13:09:55-06:00',
               '2015-02-07 22:58:10-06:00', '2015-02-11 22:50:44-06:00',
               '2015-02-26 08:58:51-06:00', '2015-02-05 22:05:03-06:00',
               '2015-02-04 15:36:29-06:00', '2015-02-19 16:02:58-06:00',
               '2015-02-19 10:59:33-06:00', '2015-02-02 20:54:49-06:00',
               '2015-02-21 05:01:26-06:00', '2015-02-21 20:41:47-06:00'],
              dtype='datetime64[ns, US/Central]', name='Date', freq=None)

*Notice that  '-06:00' now ends each element of the index. This is because the times are relative to UTC (Coordinated Universal Time).*

*Let's see what the times look like if we convert the times to US Eastern time*

In [681]:
sales.index.tz_convert('US/Eastern')

DatetimeIndex(['2015-02-26 09:57:45-05:00', '2015-02-16 13:09:19-05:00',
               '2015-02-03 15:14:18-05:00', '2015-02-02 09:33:01-05:00',
               '2015-02-25 01:29:00-05:00', '2015-02-05 02:53:06-05:00',
               '2015-02-09 09:57:30-05:00', '2015-02-11 21:03:08-05:00',
               '2015-02-04 22:52:45-05:00', '2015-02-09 14:09:55-05:00',
               '2015-02-07 23:58:10-05:00', '2015-02-11 23:50:44-05:00',
               '2015-02-26 09:58:51-05:00', '2015-02-05 23:05:03-05:00',
               '2015-02-04 16:36:29-05:00', '2015-02-19 17:02:58-05:00',
               '2015-02-19 11:59:33-05:00', '2015-02-02 21:54:49-05:00',
               '2015-02-21 06:01:26-05:00', '2015-02-21 21:41:47-05:00'],
              dtype='datetime64[ns, US/Eastern]', name='Date', freq=None)

*Notice that the times jumped ahead by an hour and we have UTC -05:00 instead of -06:00 ending each datetime element*

*Even though we outputted the US/Eastern times, the actual times for the datetimeIndex of sales are still US/Central. Let's return the datetimeIndex to its original timezone-naive state.*

*To do this, one approach is to construct a new datetimeIndex using a list comprehension based on the current one.*

<b><em>Note that simply assigning sales.index.tz the value <span style = 'color:green;'>None</span>, will convert the times to UTC, which isn't want we want in this case. </em></b>

In [682]:
sales.index = pd.DatetimeIndex([t.replace(tzinfo = None) for t in sales.index])
sales.index.name = 'Date'
sales.head()

                       Company   Product  Units
Date
2015-02-26 08:57:45  Streeplex   Service      4
2015-02-16 12:09:19      Hooli  Software     10
2015-02-03 14:14:18    Initech  Software     13
2015-02-02 08:33:01      Hooli  Software      3
2015-02-25 00:29:00    Initech   Service     10

<b>If the Date were a column in the DataFrame rather than an index, the process of making it timezone aware, changing the timezone and finally restoring it to its timezone-naive state would be slightly different, and this is demonstrated below.</b>

In [683]:
sales = sales.reset_index()
sales.head()

                 Date    Company   Product  Units
0 2015-02-26 08:57:45  Streeplex   Service      4
1 2015-02-16 12:09:19      Hooli  Software     10
2 2015-02-03 14:14:18    Initech  Software     13
3 2015-02-02 08:33:01      Hooli  Software      3
4 2015-02-25 00:29:00    Initech   Service     10

In [684]:
sales['Date'] = sales['Date'].dt.tz_localize('US/Central')
sales.head()

                       Date    Company   Product  Units
0 2015-02-26 08:57:45-06:00  Streeplex   Service      4
1 2015-02-16 12:09:19-06:00      Hooli  Software     10
2 2015-02-03 14:14:18-06:00    Initech  Software     13
3 2015-02-02 08:33:01-06:00      Hooli  Software      3
4 2015-02-25 00:29:00-06:00    Initech   Service     10

In [685]:
sales['Date'].dt.tz_convert('US/Eastern').head()

0   2015-02-26 09:57:45-05:00
1   2015-02-16 13:09:19-05:00
2   2015-02-03 15:14:18-05:00
3   2015-02-02 09:33:01-05:00
4   2015-02-25 01:29:00-05:00
Name: Date, dtype: datetime64[ns, US/Eastern]

In [686]:
sales['Date'] = sales['Date'].dt.tz_localize(None)
sales.head()

                 Date    Company   Product  Units
0 2015-02-26 08:57:45  Streeplex   Service      4
1 2015-02-16 12:09:19      Hooli  Software     10
2 2015-02-03 14:14:18    Initech  Software     13
3 2015-02-02 08:33:01      Hooli  Software      3
4 2015-02-25 00:29:00    Initech   Service     10

In [691]:
sales['Date'].head()

0   2015-02-26 08:57:45
1   2015-02-16 12:09:19
2   2015-02-03 14:14:18
3   2015-02-02 08:33:01
4   2015-02-25 00:29:00
Name: Date, dtype: datetime64[ns]

### Interpolation

*To illustrate interpolation (the filling in of missing data using a pattern), we'll use the world_population csv file with decennial world population data*

<b><em>The data file only has years (i.e. 1960, 1970, ...,2010), but when when parsing the column as as date, Pandas adds the month and the day.</b></em>

In [695]:
world_pop = pd.read_csv('world_population.csv', parse_dates= True, index_col = 0)
world_pop.index.name = 'Date'
world_pop

            Total Population
Date
1960-01-01      3.034971e+09
1970-01-01      3.684823e+09
1980-01-01      4.436590e+09
1990-01-01      5.282716e+09
2000-01-01      6.115974e+09
2010-01-01      6.924283e+09

<b><em>I have no idea what the chained call to first() does when upsampling since upsampled data will anyway contain all of the original data.</em></b> <br>
<b><em style = 'color:red;'>TODO: find out what a chained call to first() does (as opposed to last() or possibly mean()) when called on an upsampled data</em></b>

In [703]:
world_pop.resample('A').first()

            Total Population
Date
1960-12-31      3.034971e+09
1961-12-31               NaN
1962-12-31               NaN
1963-12-31               NaN
1964-12-31               NaN
1965-12-31               NaN
1966-12-31               NaN
1967-12-31               NaN
1968-12-31               NaN
1969-12-31               NaN
1970-12-31      3.684823e+09
1971-12-31               NaN
1972-12-31               NaN
1973-12-31               NaN
1974-12-31               NaN
1975-12-31               NaN
1976-12-31               NaN
1977-12-31               NaN
1978-12-31               NaN
1979-12-31               NaN
1980-12-31      4.436590e+09
1981-12-31               NaN
1982-12-31               NaN
1983-12-31               NaN
1984-12-31               NaN
1985-12-31               NaN
1986-12-31               NaN
1987-12-31               NaN
1988-12-31               NaN
1989-12-31               NaN
1990-12-31      5.282716e+09
1991-12-31               NaN
1992-12-31               NaN
1993-12-31               NaN
1994-12-31               NaN
1995-12-31               NaN
1996-12-31               NaN
1997-12-31               NaN
1998-12-31               NaN
1999-12-31               NaN
2000-12-31      6.115974e+09
2001-12-31               NaN
2002-12-31               NaN
2003-12-31               NaN
2004-12-31               NaN
2005-12-31               NaN
2006-12-31               NaN
2007-12-31               NaN
2008-12-31               NaN
2009-12-31               NaN
2010-12-31      6.924283e+09

<b><em>In this situation notice (from output below) that it doesn't seem to make a difference whether you're chaining a call to last() or first() onto your upsample call</em></b>

In [704]:
world_pop.resample('A').last().equals(world_pop.resample('A').first())

True

*Let's not worry about what first() or last() do for now. Let's fill in the missing values with linearly interpolated data.*

In [705]:
world_pop.resample('A').first().interpolate('linear')

            Total Population
Date
1960-12-31      3.034971e+09
1961-12-31      3.099956e+09
1962-12-31      3.164941e+09
1963-12-31      3.229926e+09
1964-12-31      3.294911e+09
1965-12-31      3.359897e+09
1966-12-31      3.424882e+09
1967-12-31      3.489867e+09
1968-12-31      3.554852e+09
1969-12-31      3.619837e+09
1970-12-31      3.684823e+09
1971-12-31      3.759999e+09
1972-12-31      3.835176e+09
1973-12-31      3.910353e+09
1974-12-31      3.985530e+09
1975-12-31      4.060707e+09
1976-12-31      4.135883e+09
1977-12-31      4.211060e+09
1978-12-31      4.286237e+09
1979-12-31      4.361414e+09
1980-12-31      4.436590e+09
1981-12-31      4.521203e+09
1982-12-31      4.605815e+09
1983-12-31      4.690428e+09
1984-12-31      4.775041e+09
1985-12-31      4.859653e+09
1986-12-31      4.944266e+09
1987-12-31      5.028878e+09
1988-12-31      5.113491e+09
1989-12-31      5.198103e+09
1990-12-31      5.282716e+09
1991-12-31      5.366042e+09
1992-12-31      5.449368e+09
1993-12-31      5.532694e+09
1994-12-31      5.616019e+09
1995-12-31      5.699345e+09
1996-12-31      5.782671e+09
1997-12-31      5.865997e+09
1998-12-31      5.949323e+09
1999-12-31      6.032649e+09
2000-12-31      6.115974e+09
2001-12-31      6.196805e+09
2002-12-31      6.277636e+09
2003-12-31      6.358467e+09
2004-12-31      6.439298e+09
2005-12-31      6.520129e+09
2006-12-31      6.600960e+09
2007-12-31      6.681790e+09
2008-12-31      6.762621e+09
2009-12-31      6.843452e+09
2010-12-31      6.924283e+09

## Datetime Miscellany

* When you convert a pandas series whose elements are interpretable as datetimes, the datatype of each element is NOT the same as the datetime in the datetime module. Recall the case of the index of the DataFrame, df, from above.

In [687]:
df.index

DatetimeIndex(['2016-10-02', '2016-10-16', '2016-10-30', '2016-11-13',
               '2016-11-27', '2016-12-11', '2016-12-25', '2017-01-08',
               '2017-01-22'],
              dtype='datetime64[ns]', freq='2W-SUN')

In [688]:
df.index.tolist()[0]

Timestamp('2016-10-02 00:00:00', freq='2W-SUN')

In [689]:
type(df.index.tolist()[0])

pandas._libs.tslib.Timestamp

* The datetime constructor (that is datetime from the datetime module) can passed be varArgs

In [690]:
import datetime
l = " 2016 10 3 17 0 10 ".strip().split()
mapToInts = map(int, l)
dt_args = list(mapToInts)
print(dt_args)
dt = datetime.datetime(*dt_args)
dt

[2016, 10, 3, 17, 0, 10]

datetime.datetime(2016, 10, 3, 17, 0, 10)

Note the datatype of the above datetime object. It's actually a datetime (from the module datetime).